{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm rounded-4 border-0">
                <div class="card-body p-4">
                    <h2 class="mb-4 text-center">Créer un compte</h2>

                    {{ form_start(form) }}

                    <div class="mb-3">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.username) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.password) }}
                        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.password) }}
                    </div>

                    <button class="btn btn-dark w-100 rounded-pill">
                        S'inscrire
                    </button>

                    {{ form_end(form) }}

                    <div class="mt-3 text-center">
                        <a href="{{ path('app_login') }}">Déjà un compte ? Se connecter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
